/** card **/

$card-width: 350px;
$card-bg: #fdfffb;
$card-min-height: 100px;
$card-border: solid 1px gray;

/** card-header **/
$card-header-height: 50px;
$card-header-line-height: 50px;
$card-header-bg: #e9e8ea;

/** card-header-title **/
$card-hader-title-font-size: 18px;

/** custom card **/
$card-header-primary-bg: #86b9ff;
$card-header-info-bg: #ffc52c;

